<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="lidar"
               params="*origin parent update_rate ray_count min_angle max_angle min_range max_range frame_id topic_name">

    <link name="${frame_id}">
      <visual>
        <geometry>
          <cylinder length="0.04" radius="0.038"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.4 0.8 1.0"/>
        </material>
      </visual>
      <collision>
        <geometry>
          <cylinder length="0.04" radius="0.038"/>
        </geometry>
      </collision>
      <inertial>
        <mass value="0.185"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
      </inertial>
    </link>

    <joint name="${frame_id}_joint" type="fixed">
      <parent link="${parent}"/>
      <child  link="${frame_id}"/>
      <xacro:insert_block name="origin"/>
    </joint>

    <gazebo reference="${frame_id}">
      <sensor name="${frame_id}" type="gpu_ray">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>${update_rate}</update_rate>
        <topic>${topic_name}</topic>
        <ignition_frame_id>${frame_id}</ignition_frame_id>
        <ray>
          <scan>
            <horizontal>
              <samples>${ray_count}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.001</resolution>
          </range>
        </ray>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
