<?xml version="1.0"?>

<model>
  <name>Turtlebot3 House</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Taehun Lim(Darby)</name>
    <email>thlim@robotis.com</email>
  </author>

  <description>
    Turtlebot3 House. Vendored from ROBOTIS-GIT/turtlebot3_simulations
    (turtlebot3_gazebo/models/turtlebot3_house), licensed under Apache-2.0.
  </description>
</model>
