<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="uet_amr">
    <xacro:arg name="use_real_hardware" default="false"/>
    <xacro:property name="mesh_file_scale" value="0.001 0.001 0.001"/>
    <xacro:property name="wheel_radius" value="0.08255"/>
    <xacro:property name="wheel_pos_z" value="0.077157"/>
    <xacro:include filename="$(find uet_amr_description)/urdf/materials.xacro"/>
    <xacro:include filename="$(find uet_amr_description)/urdf/parts/base.xacro"/>
    <xacro:include filename="$(find uet_amr_description)/urdf/parts/wheel.xacro"/>
    <xacro:include filename="$(find uet_amr_description)/urdf/parts/caster_wheel.xacro"/>
    <xacro:include filename="$(find uet_amr_description)/urdf/sensors/lidar.xacro"/>
    <xacro:include filename="$(find uet_amr_description)/urdf/sensors/depth_camera.xacro"/>
    <xacro:if value="$(arg use_real_hardware)">
        <xacro:include filename="$(find uet_amr_description)/urdf/uet_amr_real.ros2control"/>
    </xacro:if>
    <xacro:unless value="$(arg use_real_hardware)">
        <xacro:include filename="$(find uet_amr_description)/urdf/uet_amr.ros2control"/>
    </xacro:unless>
    <xacro:include filename="$(find uet_amr_description)/urdf/uet_amr.gazebo"/>
    
    <xacro:base 
        mass="9.278155762193999" 
        origin_xyz="0.0025532775935351716 0.0007810393984697188 -0.007616605165089496" 
        ixx="0.231139"
        iyy="0.375607"
        izz="0.561355"
        ixy="-0.000648"
        iyz="-0.001793"
        ixz="7.2e-05"
        mesh_file="package://uet_amr_description/meshes/base_link.stl"
        mesh_scale="${mesh_file_scale}"
        wheel_radius="${wheel_radius}"
        wheel_pos_z="${wheel_pos_z}"
    />
    
    <xacro:wheel 
        side="left" 
        parent="base_link" 
        mass="8.133156223625377" 
        inertial_origin_xyz="-0.0001975256393499439 0.06876256340886683 0.0003191159733880039" 
        ixx="0.014975" 
        iyy="0.026227" 
        izz="0.014975" 
        ixy="-3.4e-05" 
        iyz="5.4e-05" 
        ixz="-0.0"
        visual_origin_xyz="-0.001978 -0.151669 0.077157" 
        mesh_file="package://uet_amr_description/meshes/left_wheel_1.stl" 
        mesh_scale="${mesh_file_scale}"
        joint_origin_xyz="0.001978 0.151669 -0.077157"
    />

    <xacro:wheel 
        side="right"
        parent="base_link"
        mass="8.133163359417004"
        inertial_origin_xyz="0.00018681806470619271 -0.06876255933824524 -0.00031221526229738283"
        ixx="0.014975"
        iyy="0.026227"
        izz="0.014975"
        ixy="-2.9e-05"
        iyz="5e-05"
        ixz="-0.0"
        visual_origin_xyz="-0.002833 0.152327 0.078549"
        mesh_file="package://uet_amr_description/meshes/right_wheel_1.stl"
        mesh_scale="${mesh_file_scale}"
        joint_origin_xyz="0.002833 -0.152327 -0.078549"
    />
    
    <xacro:caster
        corner="bl" parent="base_link" mesh_scale="${mesh_file_scale}"
        mount_mass="0.1384081385472382"
        mount_inertial_origin_xyz="-0.016325683724505796 -6.209736988929682e-05 -0.02292504256915545"
        mount_ixx="0.000106" mount_iyy="0.00011" mount_izz="6.3e-05" mount_ixy="-0.0" mount_iyz="-0.0" mount_ixz="-3.3e-05"
        mount_visual_origin_xyz="0.213493 -0.141254 0.064203"
        mount_mesh_file="package://uet_amr_description/meshes/bl_caster_1.stl"
        mount_joint_origin_xyz="-0.213493 0.141254 -0.064203"
        mount_joint_axis="-8e-06 0.004578 -0.99999"
        wheel_mass="0.9168727321007182"
        wheel_inertial_origin_xyz="2.531711346762111e-05 -0.01499997857611493 -6.864989128550769e-05"
        wheel_ixx="0.000422" wheel_iyy="0.000731" wheel_izz="0.000422" wheel_ixy="-1e-06" wheel_iyz="1e-06" wheel_ixz="-0.0"
        wheel_visual_origin_xyz="0.244519 -0.156443 0.117067"
        wheel_mesh_file="package://uet_amr_description/meshes/bl_caster_wheel_1.stl"
        wheel_joint_origin_xyz="-0.031026 0.015189 -0.052864"
        wheel_joint_axis="0.001715 -0.999988 -0.004578"
    />

    <xacro:caster
        corner="br" parent="base_link" mesh_scale="${mesh_file_scale}"
        mount_mass="0.13840813854723946"
        mount_inertial_origin_xyz="-0.016325165192457858 -6.199154591685074e-05 -0.02292460400344691"
        mount_ixx="0.000106" mount_iyy="0.00011" mount_izz="6.3e-05" mount_ixy="-0.0" mount_iyz="-0.0" mount_ixz="-3.3e-05"
        mount_visual_origin_xyz="0.212694 0.143242 0.065506"
        mount_mesh_file="package://uet_amr_description/meshes/br_caster_1.stl"
        mount_joint_origin_xyz="-0.212694 -0.143242 -0.065506"
        mount_joint_axis="-8e-06 0.004578 -0.99999"
        wheel_mass="0.9168727321007177"
        wheel_inertial_origin_xyz="-2.6164354486490904e-05 0.015000127247860873 6.878867442251801e-05"
        wheel_ixx="0.000422" wheel_iyy="0.000731" wheel_izz="0.000422" wheel_ixy="-1e-06" wheel_iyz="1e-06" wheel_ixz="-0.0"
        wheel_visual_origin_xyz="0.243668 0.158053 0.118507"
        wheel_mesh_file="package://uet_amr_description/meshes/br_caster_wheel_1.stl"
        wheel_joint_origin_xyz="-0.030974 -0.014811 -0.053001"
        wheel_joint_axis="0.001715 -0.999988 -0.004578"
    />

    <xacro:caster
        corner="fl" parent="base_link" mesh_scale="${mesh_file_scale}"
        mount_mass="0.13840813854723621"
        mount_inertial_origin_xyz="-0.01632538566149161 -6.187397013268647e-05 -0.022924882170905936"
        mount_ixx="0.000106" mount_iyy="0.00011" mount_izz="6.3e-05" mount_ixy="-0.0" mount_iyz="-0.0" mount_ixz="-3.3e-05"
        mount_visual_origin_xyz="-0.217505 -0.142465 0.064201"
        mount_mesh_file="package://uet_amr_description/meshes/fl_caster_1.stl"
        mount_joint_origin_xyz="0.217505 0.142465 -0.064201"
        mount_joint_axis="-8e-06 0.004578 -0.99999"
        wheel_mass="0.9168727321007171"
        wheel_inertial_origin_xyz="2.5615176473869905e-05 -0.014999755176358459 -6.848949303683849e-05"
        wheel_ixx="0.000422" wheel_iyy="0.000731" wheel_izz="0.000422" wheel_ixy="-1e-06" wheel_iyz="1e-06" wheel_ixz="-0.0"
        wheel_visual_origin_xyz="-0.186479 -0.157654 0.117065"
        wheel_mesh_file="package://uet_amr_description/meshes/fl_caster_wheel__1__1.stl"
        wheel_joint_origin_xyz="-0.031026 0.015189 -0.052864"
        wheel_joint_axis="0.001715 -0.999988 -0.004578"
    />

    <xacro:caster
        corner="fr" parent="base_link" mesh_scale="${mesh_file_scale}"
        mount_mass="0.13840813854723868"
        mount_inertial_origin_xyz="-0.016325867129421662 -6.17681461664299e-05 -0.022924443605240485"
        mount_ixx="0.000106" mount_iyy="0.00011" mount_izz="6.3e-05" mount_ixy="-0.0" mount_iyz="-0.0" mount_ixz="-3.3e-05"
        mount_visual_origin_xyz="-0.218305 0.142031 0.065504"
        mount_mesh_file="package://uet_amr_description/meshes/fr_caster_1.stl"
        mount_joint_origin_xyz="0.218305 -0.142031 -0.065504"
        mount_joint_axis="-8e-06 0.004578 -0.99999"
        wheel_mass="0.9168727321007173"
        wheel_inertial_origin_xyz="-2.586629145395758e-05 0.014999350647611681 6.894907262748606e-05"
        wheel_ixx="0.000422" wheel_iyy="0.000731" wheel_izz="0.000422" wheel_ixy="-1e-06" wheel_iyz="1e-06" wheel_ixz="-0.0"
        wheel_visual_origin_xyz="-0.18733 0.156841 0.118505"
        wheel_mesh_file="package://uet_amr_description/meshes/fr_caster_wheel_1.stl"
        wheel_joint_origin_xyz="-0.030975 -0.01481 -0.053001"
        wheel_joint_axis="0.001715 -0.999988 -0.004578"
    />

    <xacro:lidar 
        frame_id="front_lidar"
        parent="base_link"
        topic_name="scan"
        update_rate="15"
        ray_count="800"
        min_angle="-3.14159"
        max_angle="3.14159"
        min_range="0.15"
        max_range="25.0"
    >
        <origin xyz="0.25 -0.16 0.088" rpy="0 0 0"/>
    </xacro:lidar>

    <!-- Rear lidar will be added later.
    <xacro:lidar
        frame_id="rear_lidar"
        parent="base_link"
        topic_name="scan_2"
        update_rate="15"
        ray_count="800"
        min_angle="-3.14159"
        max_angle="3.14159"
        min_range="0.15"
        max_range="25.0"
    >
        <origin xyz="-0.15 -0.23 0.105" rpy="0 0 3.14159"/>
    </xacro:lidar>
    -->
    
    <xacro:depth_camera
        frame_id="camera_link"
        parent="base_link" 
        topic_name="camera"
        update_rate="30"
        horizontal_fov="1.518"
        image_width="848"
        image_height="480"
        clip_near="0.1"
        clip_far="10.0"
        imu_update_rate="100"
        imu_topic_name="camera/camera/imu">
        <origin xyz="0.25 0.0 0.08" rpy="0 0 0"/>
    </xacro:depth_camera>
</robot>
